.navbar {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: $navbar-height;
    box-shadow: 0 0 10px rgba(#000, 0.5);
    background: #fff;
    font-weight: 400;
    transition: $transition-duration * 2;
    @include screen-lg {
        display: flex;
        height: $navbar-height-lg;
        box-shadow: 0 0 10px rgba(#000, 0.1);
        background: rgba(#fff, 0.7);
    }
    
    // All links in navbar
    a {
        color: $color-text;
        letter-spacing: 0.2em;
        text-decoration: none;
        text-transform: uppercase;
        @include screen-lg {
            margin: 0 2rem;
            letter-spacing: 0.4em;
        }
    }

    // Menu list
    &-menu {
        @include screen-lg {
            display: flex;
            align-items: center;
            margin: auto;
        }
    }

    // First menu item - logo
    &-logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: $gap;
        @include screen-lg {
            position: static;
            transform: none;
            order: 1;
            font-size: 2.2rem;
        }
    }

    // Other menu items
    &-item {
        position: relative;
        top: $navbar-height;
        display: none;
        border-top: 1px solid $grey-lightest;
        @include screen-lg {
            position: static;
            display: block;
            border: 0;

            // Move 4th and 5th item to the end of list
            &:nth-of-type(n+4) {
                order: 2;
            }
        }

        &:last-child {
            box-shadow: 0 4px 6px rgba(#000, 0.2);
            @include screen-lg {
                box-shadow: none;
            }
        }

        a {
            display: block;
            padding: 2rem;
            background: #fff;
            font-size: 1.4rem;
            text-align: center;
            @include screen-lg {
                position: relative;
                padding: 1rem;
                background: none;
                font-size: 1rem;

                // Underline on link hover
                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    right: 50%;
                    bottom: 0;
                    height: 2px;
                    background: $color-brand;
                    transition: $transition-duration;
                }

                &:hover::after {
                    left: 0;
                    right: 0.4em;
                }
            }
        }

        // Show mobile menu
        &-active {
            display: block;
        }
    }

    // Hamburger menu button
    &-hamburger {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: $gap;
        width: 30px;
        height: 26px;
        outline: none;
        background: none;
        cursor: pointer;
        @include screen-lg {
            display: none;
        }

        // Hamburger bars
        span {
            position: absolute;
            left: 0;
            display: block;
            width: 100%;
            height: 6px;
            background: $color-text;
            transition: $transition-duration;

            &:first-child {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:last-child {
                bottom: 0;
            }
        }

        // Mobile menu is active
        &-active {
            span {
                &:first-child {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);
                }

                &:nth-child(2) {
                    display: none;
                }

                &:last-child {
                    top: 50%;
                    bottom: auto;
                    transform: translateY(-50%) rotate(-45deg);
                }
            }
        }
    }

    // Mobile menu dim box
    &-dim {
        position: fixed;
        z-index: 8;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        background: rgba(#000, 0.8);

        &-active {
            display: block;
            @include screen-lg {
                display: none;
            }
        }
    }

    // Change navbar when page is scrolled down
    &-scroll {
        @include screen-lg {
            height: $navbar-height-scroll;
            background: #fff;
        }
    }
}
